@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');
.fnav {
    padding-left: 9rem;
}

.ncon {
    padding-left: 5rem;
}

.ncon li {
    padding-left: 1rem;
    color: black;
}

.ncon a {
    color: black;
}

.nicon ul {
    width: 100%;
    display: flex;
    padding-left: 2rem;
}

.nuicon li {
    list-style: none;
    padding-left: 2rem;
    padding-top: 1rem;
    cursor: pointer;
}


/* caro */

.caro {
    height: 100vh;
}

.caro1 {
    border-radius: 25px;
}

.vid {
    width: 100%;
}

.con {
    display: flex;
    width: 100%;
    padding-top: 4rem;
}

.card1 {
    width: 29rem;
    margin-bottom: 8rem;
}

.card1 img {
    border-radius: 25px;
    height: 80vh;
    width: 20rem;
}

.card2 {
    margin-left: 2rem;
    border-radius: 25px;
    width: 29rem;
    margin-bottom: 8rem;
}

.card2 img {
    border-radius: 25px;
    height: 80vh;
    width: 20rem;
}

.card3 {
    margin-left: 2rem;
    border-radius: 25px;
    width: 29rem;
    margin-bottom: 8rem;
}

.card3 img {
    border-radius: 25px;
    height: 80vh;
    width: 20rem;
}

.card4 {
    margin-left: 2rem;
    border-radius: 25px;
    width: 29rem;
    margin-bottom: 8rem;
}

.card4 img {
    border-radius: 25px;
    height: 80vh;
    width: 20rem;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
}

.top-left h2 {
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.top-left p {
    padding-left: 0.8rem;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
}


/* products */

.cardproducts {
    background-color: #F5F5F7;
}

.heading {
    display: flex;
    width: 100%;
    padding-bottom: 3rem;
}

.products {
    display: flex;
}

.pcard1 {
    border-style: none;
    height: 200vh;
    width: 20%;
    margin-left: 4rem;
    margin-bottom: 5rem;
    background-color: #f5f5f7;
}

.pimg1 {
    padding-top: 0;
    padding-left: 1.5rem;
    width: 98%;
    height: 300px;
}

.pcard2 {
    border-style: none;
    height: 200vh;
    width: 20%;
    margin-left: 4rem;
    background-color: #f5f5f7;
}

.pimg2 {
    padding-top: 0;
    padding-left: 1.5rem;
    width: 98%;
    height: 300px;
}

.pcard3 {
    border-style: none;
    height: 200vh;
    width: 20%;
    margin-left: 4rem;
    background-color: #f5f5f7;
}

.pimg3 {
    height: 300px;
    padding-left: 1.5rem;
    width: 98%;
}

.pcard4 {
    border-style: none;
    height: 200vh;
    width: 20%;
    margin-left: 4rem;
    background-color: #f5f5f7;
}

.pimg4 {
    height: 300px;
    padding-top: 0;
    padding-left: 1.5rem;
    width: 90%;
}

.card-body {
    padding-left: 3.5rem;
}

.logo2 {
    padding-top: 4rem;
    padding-left: 2rem;
}

.logo1 {
    padding-top: 4rem;
    padding-left: 2rem;
}

.logo3 {
    padding-top: 2.4rem;
    padding-left: 2rem;
}

.logo4 {
    padding-top: 3.8rem;
    padding-left: 2rem;
}

.logop {
    font-size: 12px;
    padding-left: 0.8rem;
}

.apro {
    padding-top: 3rem;
    padding-left: 2rem;
}

.aprop p {
    font-size: 11px;
    padding-right: 3rem;
}

.aprop1 {
    padding-top: 13rem;
}

.apropp {
    font-size: 12px;
}

.camera {
    padding-left: 2rem;
}

.camerap {
    padding-left: 1rem;
    font-size: 12px;
}

.camp {
    padding-left: 2rem;
}

.camp3 {
    padding-top: 7rem;
    padding-left: 2rem;
}

.camp4 {
    padding-top: 8rem;
    padding-left: 2rem;
}

.camppara {
    font-size: 12px;
}

.charge2 {
    padding-top: 1.2rem;
}

.charge3 {
    padding-top: 1.2rem;
}

.charge4 {
    padding-top: 2.2rem;
}

.chargep {
    font-size: 12px;
}


/* hover */


/* hover end */


/* closer */

.closer h2 {
    font-weight: bold;
    font-size: 45px;
}

.closercard {
    display: flex;
    margin-bottom: 4rem;
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 25px;
}

.card-body h5 {
    padding-top: 1rem;
    font-weight: bold;
}

.closerc {
    border-radius: 25px;
    border: 1px solid orangered;
}


/* essentials */

.essen h2 {
    padding-left: 6rem;
    font-size: 40px;
    font-weight: bold;
}

.esscard {
    display: flex;
    width: 100%;
}

.cardes1 {
    width: 42rem;
    height: 80vh;
    margin-left: 7rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
    background-color: #F5F5F7;
    border-radius: 25px;
}

.cardes1 img {
    width: 59rem;
    height: 56vh;
    padding-top: 5rem;
    padding-right: 24rem;
    border-radius: 25px;
}

.cardes2 {
    margin-top: 3rem;
    background-color: #F5F5F7;
    height: 80vh;
    width: 45rem;
    margin-left: 4rem;
    margin-bottom: 5rem;
    margin-right: 4rem;
    border-radius: 25px;
}

.cardes2 img {
    width: 59rem;
    height: 57vh;
    padding-top: 5rem;
    padding-right: 24rem;
}

.car {
    font-size: 32px;
    font-weight: bold;
}

.car1 {
    font-size: 32px;
    font-weight: bold;
}


/* footer */

.foo {
    background-color: #F5F5F7;
    height: 100vh;
}

.foo h2 {
    font-size: 50px;
    font-weight: 700;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-bottom: 3rem;
}

.footer {
    display: flex;
    width: 50%;
}

.footer1 {
    padding-left: 4rem;
}

.foos {
    font-size: 16px;
}

.fooh {
    font-size: 24px;
    font-weight: bold;
}

.foot {
    font-size: 17px;
    font-weight: 550
}

.foor {
    font-size: 17px;
    font-weight: 700
}

.coyright {
    padding-top: 13rem;
    padding-left: 40rem;
    font-size: 12px;
}

/* button add to cart */

/* From Uiverse.io by dldrs */ 
.addcart {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 0px;
  border: none;
  background-color: hsl(9, 90%, 52%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-family: "Inter", sans-serif;
}

.default-btn {
  background-image: linear-gradient(
    90.1deg,
    rgb(8, 248, 44) 0.2%,
  );
}

.default-btn,
.hover-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 5px;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.hover-btn {
  position: absolute;
  inset: 0;
  font-size: 16px;
  padding: 1em 3em;
  text-align: center;
  background: rgb(31, 247, 31);
  background: linear-gradient(
    63deg,
    rgba(26, 35, 126, 1) 0%,
    rgba(69, 39, 160, 1) 100%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: translate(0%, 100%);
}

.default-btn span {
  color: hsl(0, 0%, 100%);
}

.hover-btn span {
  color: hsl(0, 0%, 100%);
}

button:hover .default-btn {
  transform: translate(0%, -100%);
}

button:hover .hover-btn {
  transform: translate(0%, 0%);
}
